.idea/
.idea_modules/
out/
target/
server/
cmake-build-*/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
NeverFly.iml
